.sectionTitle {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.card {
    font-family: 'Inter', sans-serif;
    background-color: white;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0px 0px 0px 2px gray;
}

.card h2 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}

.card p {
    text-align: center;
    padding: 0.5rem;
}

.card img {
    justify-items: center;
    width: auto;
}

.resources {
    display: flex;
    justify-content: space-between;
    align-items: center;
}